global_defs {
        script_user nobody
        enable_script_security
}

vrrp_script check_traefik {
  script       "/usr/bin/curl --fail http://127.0.0.1:8080/ -t 1"
  interval 2   # check every 2 seconds
  fall 2       # require 2 failures for KO
  rise 2       # require 2 successes for OK
}

{% if role == "master" %}
vrrp_instance VI_traefik {
        state MASTER
        interface {{ansible_default_ipv4["interface"]}}
        virtual_router_id {{keepalived_router_id}}
        priority 255
        advert_int 1
        authentication {
              auth_type AH
              auth_pass {{keepalived_pass}}
        }
        virtual_ipaddress {
              {{keepalived_vip}}
        }

{% if keepalived_check is defined %}
        track_script {
               {{keepalived_check}}
        }
{% endif %}
}
{% else %}
vrrp_instance VI_traefik {
        state BACKUP
        interface {{ansible_default_ipv4["interface"]}}
        virtual_router_id {{keepalived_router_id}}
        priority 254
        advert_int 1
        authentication {
              auth_type AH
              auth_pass {{keepalived_pass}}
        }
        virtual_ipaddress {
              {{keepalived_vip}}
        }
}
{% endif %}
