[http.routers]
    [http.routers.router]
        rule = "Path(`/`)"
        service = "service"
        middlewares = ["LBHeader"]

[http.services]
    [http.services.service.loadBalancer]
{% for backend in backends.split(',') %}
        [[http.services.service.loadBalancer.servers]]
            url = "{{backend}}"
{% endfor %}

[http.middlewares]
  [http.middlewares.LBHeader.headers]
    [http.middlewares.LBHeader.headers.customResponseHeaders]
        X-Lb-Name = "{{ansible_hostname}}"
