[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type={{role}}
KillMode=process
Delegate=yes
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
ExecStart=/usr/local/bin/k3s {% if role == 'server' %}server --no-deploy traefik --kube-apiserver-arg service-node-port-range=1-65535{% else %}agent {% for node in groups['kubernetes'] %}{% if hostvars[node]['role'] == 'server' %}--server https://{{hostvars[node]['ansible_default_ipv4']['address']}}:6443 --token {{hostvars[node]['token']}}{% endif %}{% endfor %}{% endif %}
