{
  "CN": "TraefikEE CA",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "FR",
      "L": "EARTH",
      "emailAddress": "noreply@traefik.io",
      "OU": "Traefik Labs"
    }
  ]
}
