[Unit]
Description=Anycast healthchecker
After=network.target
Requires=network.target
Documentation=https://github.com/unixsurfer/anycast_healthchecker/blob/master/README.rst

[Service]
Type=simple
TimeoutStartSec=0
User=bird
Group=bird
ExecStart=/usr/local/bin/anycast-healthchecker
Restart=on-failure
RuntimeDirectory=anycast-healthchecker

[Install]
WantedBy=multi-user.target
