# Configure logging
log syslog { debug, trace, info, remote, warning, error, auth, fatal, bug };
log stderr all;

# Override router ID
router id {{ansible_default_ipv4.address}};

protocol kernel {
  persist;
  import none;
  export all;
  merge paths on;
}

# Turn on global debugging of all protocols
debug protocols all;

# This pseudo-protocol watches all interface up/down events.
protocol device {
  scan time 2;    # Scan interfaces every 2 seconds
}

template bgp traefik_lb {
  local as {{local_as}};
  direct;
  graceful restart;
  import all;
  export none;
}

{% for host in groups['bird'] %}
{% if hostvars[host]['role'] != 'router' %}
protocol bgp {{hostvars[host]['ansible_hostname']|replace('-', '_')}} from traefik_lb {
  description "{{hostvars[host]['ansible_hostname']}}@{{hostvars[host]['ansible_default_ipv4']['address']}}";
  neighbor {{hostvars[host]['ansible_default_ipv4']['address']}} as {{local_as}};
}

{% endif %}
{% endfor %}
